<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="customSection"
             type="ConsApp.CustomConfigurationSection, ConsApp"/>
  </configSections>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <customSection appName="ConsApp">
    <watcherFolder value="d:\Programming\CSharp\DotNetMentoringProgram\Module05\ConsApp\WatcherFolder\" />
    <files>
      <add name="*.txt"/>
      <add name="*.docx"/>
      <add name="*.rar"/>
    </files>
  </customSection>
  
    <!--<appSettings>
      <add key="WatcherPath" value="D:\Programming\CSharp\DotNetMentoringProgram\Module05\ConsApp\WatcherFolder"/>
    </appSettings>-->
</configuration>